<h1>Recommendations</h1>

<%= simple_form_for(@wallet) do |f| %>
<%= f.input :daily_income_cents, as: :hidden %>
<%= f.input :savings_cents, as: :hidden %>
<%= f.input :fixed_cost_cents, label: "Fixed expenses" %>

<%=f.submit 'Make sense!'%>

<% end %>

