<h1>Recommendations</h1>

<%= simple_form_for @wallet do |f| %>
<%= f.input :daily_income, as: :hidden %>
<%= f.input :savings, as: :hidden %>
<%= f.input :fixed_cost, label: "Fixed expenses" %>

<%=f.submit 'Make sense!'%>

<% end %>

<%= @available_spend %>
<p>Weekday spend: <%= @available_spend / 22 %></p>
<p>Weekend spend: <%= @available_spend / 8 %></p>
