
<div class="chart-container">
  <h1 class="text-center">Your Stats</h1>
  <canvas id="myChart" width="400" height="400"></canvas>
</div>


<div class="container">
  <%= link_to "Today's transactions", transactions_path, class:"btn btn-primary btn-main" %>
</div>

<div class="stats-info d-flex ">

  <div class="stat text-center">
    <p>Avg weekday expense:</p>
    <div class="font-weight-bold"> <%= @weekday_spend %></div>
  </div>

  <div class="stat text-center">
    <p class= "text-center">Weekday allowance:</p>
    <div class="font-weight-bold">£<%= @weekday_available.round(1) %></div>
  </div>
</div>

<div class="stats-info d-flex ">

  <div class="stat text-center">
    <p>Avg weekend expense:</p>
    <div class="font-weight-bold"> <%= @weekend_spend %></div>
  </div>

  <div class="stat text-center">
    <p class= "text-center">Weekend allowance:</p>
    <div class="font-weight-bold">£<%= @weekend_available.round(1) %></div>
  </div>
</div>



<div id="transactions-data" data-days="<%= @days.to_json %>" data-transactions="<%= @results.to_json %>"></div>

