
<div class="container">
  <h1>Your Stats</h1>
  <canvas id="myChart" width="400" height="400"></canvas>


  <%= link_to "Today's transactions", transactions_path, class:"btn btn-primary btn-main" %>

  <div class="stats-info d-flex ">

    <div class="stat text-center">
      <p>Avg Saved / Day</p>
      <div class="font-weight-bold">£8</div>
    </div>

    <div class="stat text-center">
      <p class= "text-center">Target</p>
      <div class="font-weight-bold">£10</div>
    </div>
  </div>

  <div class="stats-info d-flex ">

    <div class="stat text-center">
      <p>Avg Expense/ Day</p>
      <div class="font-weight-bold">
        Average weekdays spend: <%= @weekday_spend %>
        Average weekend spend: <%= @weekend_spend %>

      </div>
    </div>

    <div class="stat text-center">
      <p>Target</p>
      <div class="font-weight-bold">For a weekday: £<%= @weekday_available.round(1) %></div>
      <div class="font-weight-bold">For a weekend: £<%= @weekend_available.round(1) %></div>

    </div>
  </div>


</div>

<div id="transactions-data" data-days="<%= @days.to_json %>" data-transactions="<%= @results.to_json %>"></div>

