<div class="container">

  <h4 class="font-weight-bold" style="margin-left: 20px; opacity: 0.6;">New Goal</h4>
  <%= simple_form_for(@goal) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :amount_cents, label: 'Amount(£)' %>
      <%= f.input :completion_date, as: :date, discard_day: true, order: [:month, :year] %>
      <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden %>
      <%= f.input :link %>
    </div>
  </div>

<div class="blue-background radius-top" style="height: 400px; width: 100%; position: absolute;">
  <div class="form-actions">
        <%= f.button :submit, "Add Goal", class:"btn btn-primary white-button", style:"position:relative; top:70px;" %>
    </div>
  <% end %>
</div>
