<div class="container">

  <h1>New Goal</h1>
  <%= simple_form_for(@goal) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :amount_cents, label: 'Amount(£)' %>
      <%= f.input :completion_date %>
      <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden %>
      <%= f.input :link %>
    </div>

   <div class="form-actions">
        <%= f.button :submit, "Add Goal", class:"btn btn-main" %>
    </div>
  <% end %>
  </div>
