<div class="container mt-4">
  <h1 div class="mb-4">New transaction</h1>
  <%= simple_form_for(@transaction) do |f| %>
    <div class="form-inputs">
      <%= f.input :merchant %>
      <%= f.input :amount_cents, label: "Amount (£)" %>
      <%= f.simple_fields_for :day, @transaction.day do |t| %>
        <%= t.input :date, as: :string, input_html: { class: 'datepicker' } %>
      <% end %>
    </div>

   <div class="form-actions mt-5">
        <%= f.button :submit, "Add transaction", class:"btn btn-primary btn-main" %>
    </div>
  <% end %>
  </div>
